*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic; 
}

body{
    
    background-color: skyblue;
    font-size: 14px;
}

#logopage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: Black;
    padding: 5px 30px;
    border: 1px solid white transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 25px;
    margin-left: 80px;
}

.home{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.title h1{
    font-size: 60px;
    color: darkblue;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 20%;
    max-width: 2000px;
    height: auto;

}
.about {
   
    position: absolute;
    top: 30%;
    right: 50%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: larger;

}
   
.about p{

    text-decoration: none;
    color:black;
    
    

}
.contact{
    margin-right: 10%;
}

.container{
    width: 80%;
    margin: 50px;
}
.contact-box{
    background: white;
    display: flex;

}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: darkblue;
    color: white;
}

h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;

}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10 px;
    box-sizing: border-box;

}
label{
    margin-bottom: 6px;
    display: block;
    color: darkblue
}
button{
    background: darkblue;
    width: 100px;
    outline: none;
    border: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgb(28,0,181,0.3);

}

.contact-left h3{
    color: darkblue;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
        
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 30 px;
}

tr td:first-child{
    padding-top: 30 px;
}

.background img{
    height:100vh;
    background-size: cover;
}

.logocontent{

    display: flexbox;

}


.logocontent img{
    border: 4px solid darkblue;
    width: 300px;
    margin-top: 5%;
    margin-left: 20%;
    align-items: center;
}
